@import "./../variables.scss";

.app-nav {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    background-color: black;
    height: 60px;
    li {
        margin-right: 20px;
        font-size: 25px;
    }
    li a {
        color: $text-color;
        text-decoration: none;
    }
    li a:hover{
        cursor: pointer;
    }
    .active {
        color: rgb(163, 162, 214) !important;
    
    }
}


@media screen and (max-width: 840px) {

    .app-nav {
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {

    .app-nav {
        justify-content: center;
        li {
            font-size: 20px;
        }
    }
}
