@import "../variables.scss";

.projects-container{
    background-color: rgb(55, 66, 121);

    .projects-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
            justify-content: center;
        .container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1f;
            align-content: space-between;
            margin: 10px 10px;
            width: 600px;
            height: 400px;
            border: 3px solid rgb(163, 162, 214);
            border-radius: 10px;
                .project-header {
                    height: 30px;
                    color :$link-color;
                    h2{
                        margin-top: 5px;
                    }
                }
                
                .project-body {
                    height: 300px;
                    img{
                        width: 550px;
                        height: 250px;
                    }
                }
                .project-body img:hover{
                    width:590px;
                    height: 300px;
                    transition: 0.8s ;
                }
                
                .project-footer {
                    p{
                        color:$link-color;
                        font-size: 20px;
                            font-weight: 700;
                    }
                }
            }
        }
    }
    


@media screen and (max-width: 600px) {
    .projects-container .projects-item .burger-menu-project,
    .projects-container .projects-item .before-after-project,
    .projects-container .projects-item .burger-menu-project,
    .projects-container .projects-item .phone-book-project,
    .projects-container .projects-item .to-do-project
    {
        width: 270px;
        height: 200px;
    }   

}

@media screen and (max-width: 420px) {

}