@import "../variables.scss";

.projects-container{
    background-color: rgb(55, 66, 121);

    .projects-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
            justify-content: center;
        .container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1f;
            align-content: space-between;
            margin: 10px 10px;
            width: 600px;
            height: 400px;
            border: 3px solid rgb(163, 162, 214);
            border-radius: 10px;
                .project-header {
                    height: 30px;
                    color :$link-color;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .project-code a{
                        color:$link-color;
                        text-decoration: none;
                    }
                }
                
                .project-body {
                    height: 300px;
                    img{
                        width: 550px;
                        height: 250px;
                    }
                }
                .project-body img:hover{
                    width:590px;
                    height: 300px;
                    transition: 0.8s ;
                }
                
                .project-footer {
                    margin-bottom: 35px;
                    p{
                        color:$link-color;
                        font-size: 20px;
                            font-weight: 700;
                    }
                }
            }
        }
    }
    

@media screen and (max-width: 590px) {
    .projects-container .projects-item .container{
        width:370px;
    }
    .projects-container .projects-item .container .project-body {
        height: 260px;
    }
    .projects-container .projects-item .container .project-body img{
        width:340px;
        height: 250px;
    }
    .projects-container .projects-item .container .project-body img:hover{
        width:360px;
        height: 260px;
    }
    .projects-container .projects-item .container .project-footer{
        margin-bottom: 30px;
    }
    .projects-container .projects-item .container .project-footer p{
        font-size: 15px;
    }
}