@import "./../variables.scss";
.cv-container{
  display: flex;
  background:url("./../../img/cv-background-img.jpeg") center center no-repeat;
  background-size: cover;
  height: calc(100vh - 121.6px);
  background-attachment: fixed;


  .cv-display-container{
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px;
    .cv-link{
      text-decoration: none;
    }
    .cv-de {
      &:hover{
        cursor: pointer;
      }
      img{
        width: 200px;
        height: 200px;
      }
    }
    .cv-eng {
      &:hover {
        cursor: pointer;
      }
      img {
        width: 210px;
        height: 210px;
      }
    }
    .Cv-title{
      font-size: 30px;
      color: white;
    }
  }
  .cv-download{
    a{
        color:$link-color;
        text-decoration: none;
    }
    a:hover{
      cursor: pointer;
    }
  
  }
  
}
@media screen and (max-width:1430px){
    .main .cv-container .cv-display-container{
      height: 150px;
    }
}
@media screen and (max-width:700px ){
  .cv-container .cv-display-container{
    justify-content: center;
    min-width: 350px;
  }
  .cv-container .cv-display-container .cv-de img{
    width: 150px;
    height: 150px;
  }
  .cv-container .cv-display-container .cv-eng img{
    width: 160px;
    height: 150px;
    margin-left: 30px;
  }
}